<h1 style="color: #5e9ca0;">Recuperação de senha</h1>
<p style="text-align: left;">Para recuperar sua senha, insira o código no aplicativo:&nbsp;<br/><br/>
    <strong><span style="background-color: #000000; color: #ffffff;" th:text="${code}"></span></strong>
</p>

<p>Para sua seguran&ccedil;a, ap&oacute;s confirmação do código ser&aacute; necessario informar uma nova senha
    definitiva, que poder&aacute;
    ser atualizada a qualquer momento via esqueci minha senha.</p>
<p><strong>&nbsp;</strong></p>