<h1 style="color: #5e9ca0;">Ola, seja bem vindo(a) a TransTL!</h1>
<h2 style="color: #2e6c80;">Como acessar o sistema:</h2>
<p>Caso ainda n&atilde;o tenha realizado o download, <span style="color: #0000ff;"><strong>clique
            aqui</strong></span> para ser redirecionado para sua loja.&nbsp;</p>
<p style="text-align: left;">Na tela inicial, basta informar o seu cpf como usuario.<br/><br/>A sua senha:
    <br/><br/>
    <strong><span style="background-color: #000000; color: #ffffff;" th:text="${password}"></span></strong>
</p>
<p>Caso deseje atualizar sua senha, basta entrar no fluxo de esqueci minha senha direto no aplicativo.</p>
<p><strong>&nbsp;</strong></p>